@import "../../../styles/breakpoints";
@import "../../../styles/colors";
.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0;
  @media (min-width: $mobile_max) {
    width: 25%;
  }

  .year {
    flex: 1 0 100%;
    margin: 5px;
    height: 70px;
    text-align-last: center;
    font-size: 1.5em;
    letter-spacing: 3px;
    font-weight: 200;
  }

  .year:before,
  .year:after {
    @media (max-width: $mobile_max) {
        background-color: $border_01;
        content: "";
        display: inline-block;
        height: 2px;
        position: relative;
        vertical-align: middle;
        width: 35%;
        margin: 10px;
    }
  }
}
