@import "../../../styles/breakpoints";
@import "../../../styles/colors";

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 15px 0 17px;
  color: black;
  text-decoration: none;
  padding-left: 17px;
  padding-right: 17px;
  width: 100%;
  border: 1px solid $border_01;
  margin-bottom: 10px;
  @media (min-width: $mobile_max) {
    border: 0;
    margin-bottom: 0px;
  }

  &.tabactive {
    @media (min-width: $mobile_max) {
      border-bottom: 10px solid $border_01;
    }
  }
  &.tabinactive {
    @media (min-width: $mobile_max) {
      border-bottom: 10px solid white;
    }
  }

  .numberFilter {
    width: 13%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $font_01;
    font-weight: 500;

    &:before {
      border-radius: 50%;
      width: 100%;
      padding-bottom: 100%;
      background: $border_01;
      content: "";
      position: absolute;
      z-index: -1;
    }
  }

  h3 {
    margin: 0;
    line-height: 1.3em;
    color: rgb(137, 137, 139);
    letter-spacing: 0.1em;
    font-size: 0.8em;
    font-weight: 400;
    display: none;
    @media (min-width: $mobile_max) {
      display: initial;
    }
  }

  p {
    margin: 0.25em 0 0;
    line-height: 1.5em;
    color: $font_01;
    font-size: 1.3em;
  }
}
