.container{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 3%;
    // padding-top: 3%;
    display: flex; 
    column-gap: 20px;
    row-gap: 20px;
    
    justify-content:center;
    flex-grow: 4;
    flex-flow: column wrap;
    height: 380px;
    box-shadow: 0px 17px 11px -12px rgba(0,0,0,0.19);
    margin-left: 2%;
    margin-top: 2%;
   
}