@import "../../../styles/breakpoints";
@import "../../../styles/colors";
.container{
    background-color: rgb(39, 93, 212);
    color: rgb(233, 239, 251);
    position: relative;
    border: 0;
    cursor: pointer;
  
    padding: 15px 0 17px;
   
    padding-left: 25px;
    padding-right: 25px;
    width: 60%;
    margin: 25px;

    font-size: 1.0em;  
    letter-spacing: 3px;
    font-weight: 100;
}