@import "../../../styles/breakpoints";
@import "../../../styles/colors";
.container {
  font-size: 1.2em;
  padding: 10px;
  color: $font_01;
  display: flex;
  cursor: pointer;

  height: auto;
  padding-left: 30px;
  @media (min-width: $mobile_max) {
    border-radius: 5px;
  }

  &--item-inactive {
    background-color: white;
  }
  &--item-active {
    background-color: $border_01;
  }
}
