.container{
    display: flex;
    border-bottom: 2px solid rgb(232, 233, 235);
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 2%;
    box-shadow: 0px -17px 11px -12px rgba(0,0,0,0.19)
}